.zap img{
    width: 80px;
    height: 80px;
}
.insta img{
    width: 67px;
    height: 67px;
}
.face img{
    width: 67px;
    height: 67px;
}

.email img{
    width: 80px;
    height: 80px;
}
.zap{
    display: flex;
}
.insta{
    display: flex;
}
.face{
    display: flex;
}
.email{
    display: flex;
}
.zap:hover, .insta:hover, .email:hover, .face:hover{
    opacity: 1;
    filter: contrast(120%);
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: 1s ease;
}